@page
@model FeedbackApp.Pages.AppReport.EditTableModel
@{
}

<br>
<h2>Edit a bug,error or suggestion</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST" enctype="multipart/form-data">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id" value="@Model.editReport.id" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Type" value="@Model.editReport.Type" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Title" value="@Model.editReport.Title" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Description" value="@Model.editReport.Description" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Location</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Location" value="@Model.editReport.Location" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Application</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Application" value="@Model.editReport.Application" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Priority</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Priority" value="@Model.editReport.Priority" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CreationDate</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CreationDate" value="@Model.editReport.CreationDate" readonly/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Existing Attachments</label>
        <div class="col-sm-6">
            @foreach (var file in Model.editReport.Attachments)
            {
                <div>@file</div>
            }
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Attachments</label>
        <div class="=col-sm-6">
            <input type="file" name="Attachments" multiple />
            <small class="form-text text-muted">You can upload one or more attachments.</small>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>